{% extends 'base.html' %}

{% block content %}

<h1>{{ pet.name }}</h1>

<img class="img-thumbnail" src="{{pet.image()}}">

<h2>Update</h2>

<form method="POST">
    {{ form.hidden_tag() }} 
    {% for field in form if field.widget.input_type != 'hidden' %}
       
    <div class='form-group'>
    {{ field.label }}
    {% if field.widget.input_type != 'checkbox' %}
        {{ field(class="form-control") }}
    {% endif %}
        {% if field.widget.input_type == 'checkbox' %}
        {{ field() }}
    {% endif %}

        <span>
            {% if field.errors %}
                {% for error in field.errors %}
	                <b class="text-danger">{{ error }}</b>
                {% endfor %}
            {% endif %}
        </span>
    </div>
    {% endfor %}
      
    <button class="btn btn-primary" type="submit">Update</button>
</form>

{% endblock %}