{% extends 'base.html' %}

{% block title %} Pet List{% endblock %}

{% block content %}

<h1>Pets</h1>

<ul>
    {% for pet in pets %}
    <li>
        <img class='img-thumbnail' src='{{pet.image()}}'>
        <a href="/{{pet.id}}/edit"> {{ pet.name }}</a>
    {% if pet.available %} <b>is available!</b> 
    {% else %} <b class="text-danger">is not available</b>
    {% endif %}
    </li>
    {% else %}
    <div><i>Sorry, no pets for adoption yet.</i></div>
    {% endfor %}
</ul>
<a class='btn btn-success' href="/add"> Add a Pet</a>
{% endblock %}